[Unit]
Description=FireFly-III Service
Documentation=https://firefly-iii.github.io/
After=docker.service
Requires=docker.service


[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run \
  --rm --name %n \
  --publish 8082:8082 \
  -v /data/firefly-iii/env:/var/www/firefly-iii/.env:ro \
  -v /data/firefly-iii/storage:/var/www/firefly-iii/storage \
  -v /data/firefly-iii/storage/export:/var/www/firefly-iii/storage/export \
  -v /data/firefly-iii/storage/upload:/var/www/firefly-iii/storage/upload \
  firefly-iii:4.7.3.2


[Install]
WantedBy=multi-user.target
