[Unit]
Description=prometheus
After=syslog.target network.target

[Service]
Type=simple
RemainAfterExit=no
User=prometheus
Group=prometheus
ExecStart=/opt/prometheus/bin/run-server
WorkingDirectory=/opt/prometheus

[Install]
WantedBy=multi-user.target
