[Unit]
Description=AuthGateway Auditor Service
After=syslog.target network.target

[Service]
Type=simple
RemainAfterExit=no
WorkingDirectory={{ authgateway_install_path }}/node_modules/auth-gateway/utils/demo/auditstore
User={{ authgateway_user }}
Group={{ authgateway_group }}
ExecStart={{ authgateway_install_path }}/auditor/bin/python main.py --bind 127.0.0.1

[Install]
WantedBy=multi-user.target
