[Unit]
Description=Wekan Server
Documentation=https://github.com/wekan/wekan
After=mongod.service postfix.service


[Service]
Type=forking
KillMode=none
PIDFile=/%t/%n-pid

ExecStartPre=-/usr/bin/podman stop %n
ExecStartPre=-/usr/bin/podman rm %n
ExecStart=/usr/bin/podman run \
  --conmon-pidfile /%t/%n-pid \
  --detach --name %n \
  --network host \
  --user=wekan \
  --env 'MAIL_FROM=Wekan <wekan@home.spogliani.net>' \
  --env 'MAIL_URL=smtp://127.0.0.1:25/' \
  --env 'MONGO_URL=mongodb://127.0.0.1:27017/wekan' \
  --env 'NODE_ENV=production' \
  --env 'PORT=8081' \
  --env 'ROOT_URL=https://wekan.home.spogliani.net' \
  wekanteam/wekan:v3.80
ExecStop=/usr/bin/podman stop %n


[Install]
WantedBy=multi-user.target
