[Unit]
Description=NextCloud Service
Documentation=https://nextcloud.com/support/
After=postfix.service postgresql-10.service


[Service]
Type=forking
KillMode=none
PIDFile=/%t/%n-pid

ExecStartPre=-/usr/bin/podman stop %n
ExecStartPre=-/usr/bin/podman rm %n
ExecStart=/usr/bin/podman run \
  --conmon-pidfile /%t/%n-pid \
  --detach --name %n \
  --network host \
  -v /data/nextcloud:/var/www/html:z \
  nextcloud-custom:17.0.2
ExecStop=/usr/bin/podman stop %n


[Install]
WantedBy=multi-user.target
