[Unit]
Description=Prometheus PostgreSQL Exporter
After=syslog.target network.target

[Service]
Type=simple
RemainAfterExit=no
WorkingDirectory=/opt/prometheus
User=postgres
Group=postgres
ExecStart=/opt/prometheus/bin/run-postgresql-exporter

[Install]
WantedBy=multi-user.target
